
 
/* Стили общие и для index.html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Montserrat, sans-serif;
        background-color: #eb8b8b;
        background-size: cover;
        color: rgb(56, 13, 13);
        align-content: center;
        background-image: url(../img/back.JPG);
        background-repeat: inherit;
      
    }
    #empty {
        position: relative;
        width: 20px;
    }
    .container
    {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        margin-left: 160px; /* Same as the width of the sidebar */
        padding: 0px 10px;
  
  
    }
    
.header {
    position: relative;
    
    width: 100%;
    margin: 15px, auto;
    padding: 15px, auto;
   
   
}
h1 {
    color: rgb(53, 27, 27);
    font-size: 25px;
    text-align: center;
    margin: 15px;
}


    h2 {
        color: rgb(95, 67, 67);
        font-size: 15px;
        text-align: center;
        margin: 15px;
    }
  
    a {
        font-weight: bold;
        color: rgb(39, 30, 30);
        text-decoration: none;
    }
    a:hover {
        color: rgb(66, 24, 24);
       
    }
    p {
        margin: 10px 0;
        font-size: 16px;

    }
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 250px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 150px; /* Stay at the top */
        left: 0;
        background-color: rgb(117, 54, 54); /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    /* Style page content */
    .main {
        margin-top: 57px;
      /*  margin-left: 160px; /* Same as the width of the sidebar */
       
      
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    /*card-create.php*/
#card_create {
   
    display: block;
    height: 100vh;
    
}

.card_create a {
margin-top: 25px;
font-size: 15px;
color: #000;


}
.card_create a:hover {
    color: #f1f1f1;
}


    /*menu.php
    #field_2 {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 60vh;
        align-content: space-between;
   
    }
    .rectangle_2
       {
           position: relative;
           display: flex;
           flex-direction:column;
           background-color: #8C4248;
           justify-content: space-around;
           align-items: center;  
           color: white;
           margin-top: 50px;
           margin-left: 15px;
           
           text-align: center;
           width: 25%;
           height: 100%;
       }
       .top_rectangle_2 {
   
           background-color: grey;
           width: 100%;
           margin: 0;
           padding: 0;
           font-size: 25px;
       }
    .menu_img {
           width: 100px;
           height: 100px;
   
       }
    
       .rectangle_2 button {
           width: 100%;
           height: 65%;
       }
       */
    
    #enter {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50vw;
        margin: auto;
        background-color: white;
        padding: 15px;
        margin-top: 20px;
       
    }
    
    input {
        margin: 10px 0;
        padding: 10px;
        border: unset;
        border-bottom: 2px solid #491414;
        outline: none;
    }
    
    button {
        margin: 25px;
        padding: 10px;
        background: #e3e3e3;
        border: unset;
        cursor: pointer;
    }
    
    .msg {
        border: 2px solid #772217;
        border-radius: 3px;
        padding: 10px;
        margin: 25px;
        text-align: center;
        font-weight: bold;
        background-color: burlywood;
    }
    
    .logout {
        color: #b7625c;
    }
    .list {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: white;

    }
    .materials {
        position: relative;
        width: 100%;
        height: 100%;
      
        border-radius: 3px;
        padding: 10px;
        text-align: left;
        font-weight: bold;
        flex-direction: row;
        align-content: flex-end;
        
      
    }
    #material_check {
        position: relative;
        padding: 10px;
        margin: 10px;
        color: rgb(7, 7, 7);
        font-size: 14px;
        flex-direction: row;
        align-content: flex-end;
       
    }
    .one_material {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        position: relative;
        width: 100%;
        justify-content: space-around;
       
    }
    .lable_all {
margin: 15px;
padding: 15px;

    }

    /*client-card*/
   table input {
        margin: 10px;
        padding: 10px;
        border: unset;
        background-color: rgba(247, 242, 244, 0);
    }
    table {
      width: 100%;
      border: 1px solid brown;
      background-color: rgba(255, 239, 213, 0.699);
      font-size: 13px;
      margin-bottom: 25px;
    }
    table #tb_works {
        border: unset;
        background-color: rgba(255, 239, 213, 0);

    }
    .print {
        background-color: white;
        text-align: center;
        align-content: center;

    }
    .print table {
border: 1px black; 
background-color: white;
        
    }
    .print input {
       
        background-color: rgb(241, 168, 168);
        font-size: 18px;

    }
    #row {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        justify-content: space-around;
    }
   